



/* START HEADER */
#colorcss {
    float:right;
    padding-top: 0.5em;
    padding-right: 0.5em;
 
}
#conversor2 {
    padding-left: 2%;
    padding-bottom: 2%;
}
#colorcssbig{
    float: bottom;
}
#colorspace{
    width: 0.1em;
}
#csscolor0 {
    float:right;
        width: 1em;
    height: 1em;  
    background-color: blue;
}
#csscolor1 {
    float:left;
        width: 1em;
    height: 1em;  
    background-color: black;
}
#csscolor2 {
    float:right;
        width: 1em;
    height: 1em;  
    background-color: red;
}
#csscolor3{
    float:left;
        width: 1em;
    height: 1em;  
    background-color: white;
}



#searchform {
    float:right;
}
#carrinho{
    float:right;
    margin-right: 1%;
}
#carrinhoComp{
    background-color: blue;
}
#boxhead{
    background-color: #2f343b;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: auto;
    //height: 70%;
    background: url("green1.jpg") no-repeat center center fixed; 
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.topbarhead {
    color: #cccccc;
    background-color: #2f343b;
    max-height: 35px;
    font-family: "calibri", "verdana";
    //line-height: 0.5em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
#level1 {
    max-width: 275px;
    height: 35px;
    //background-color: blue; //RETIRAR DEPOIS
    position:absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;   
    padding-top: 0.1px;
}
#level2{
    width: 30%;
    height: 35px;
    //background-color: blue; //RETIRAR DEPOIS
    //position:absolute;
    float:right;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
}

#level2 a{
    text-decoration: none;
    color:#cccccc;
}
#level2 a:hover{
    color: whitesmoke;
}

ul {
    list-style-type: none;
}
li {
   line-height: 15px;
} 

#logo {
    margin-top: 2.5%;
    margin-left:2.5%;
}
    /* START MENU BAR */ 
.menubar{
 
    background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 37%, #474747 42%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 37%,#474747 42%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 37%,#474747 42%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    padding:0;
    //border: 2px solid black;
    margin-top: 5%;
    float:bottom;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;

}
.menubar ul {
   margin:0px;
   padding:0;
   list-style-type:none;
   display:block;
   font-family:Tahoma ;
}
.menubar ul li{
    padding:0;
    display:inline-block;
    
}
.menubar ul li a{
    padding:15px;
    text-decoration:none;
    display:inline-block;
    color: whitesmoke;
    font-weight: bold;
    letter-spacing: 2px;
}
.menubar ul li a:hover{
 background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 37%, #474747 42%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 37%,#474747 42%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 37%,#474747 42%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
.menubar ul li ul{
    display:none;
    position:absolute;
}
.menubar ul li:hover ul{
    display:block;
    position:absolute;
 background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 37%, #474747 42%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 37%,#474747 42%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 37%,#474747 42%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
.menubar ul li ul li{
    display:block;
}
.menubar ul li:hover ul li{
 background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 37%, #474747 42%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 37%,#474747 42%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 37%,#474747 42%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
.menubar ul li ul li a:hover{
 background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 37%, #474747 42%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 37%,#474747 42%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 37%,#474747 42%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}   
    /* END MENU BAR */
/* END HEADER */

/* START FOOTER */

#foo{
    background-color: black;
    //background-color: #696969;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    //margin-bottom: auto;
    height: 210px;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}
.foot {
    color: white;
    background-color: #2f343b;
    height: 210px;
    //max-height: 210px;
    font-family: "calibri", "verdana";
    //margin-top:10%;
    //line-height: 0.5em;
    //position:relative;
    padding-top: 10px;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}


#footer1 {
    color:#999999;
    max-width: 275px;
    height: 175px;
    //background-color: blue; //RETIRAR DEPOIS
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;   
    //margin-top: 10%;
    padding-top: 10px;
}
#footer2{
    color:#999999;
    max-width: 200px;
    height: 175px;
    //background-color: blue; //RETIRAR DEPOIS
    position:relative;
    float: right;
    margin-right: 10%;
    text-align: center;
    vertical-align: middle;
    //line-height: 35px;
    padding-top: 10px;
}
#footer2 a{
    text-decoration: none;
    color:#999999;
    display: inline-block;
    line-height: 28px;
}
#footer1 a{
    text-decoration: none;
    color:#999999;
}

#footer2 a:hover{
    color: whitesmoke;
}

#footer1 a:hover{
    color: whitesmoke;
}
#fundo{
    text-align: center;
    margin-top: 12%;
}

#fb-root {
    float:right;
    padding-right: 1%;
    padding-bottom: 1%;
}
#footnonfb{
    float:left;
    width: 60%;
}



/* END FOOTER */

/* START FOOTERSIMPLE */

#foosimple{
    //background-color: black;
    //background-color: #696969;
    margin-left: 5%;
    margin-right: 5%;
    //margin-bottom: 3%;
    //margin-bottom: auto;
    height: 100px;
    //margin-top:-10%;
}

#addresssimple {
    color:white;
    //float:bottom;
    //margin-bottom: 10%;
    position:relative;
    text-align: center;
    //background-color: blue;
    //width: 50%;
    /* margin-right: 5%;
    margin-left:5%; */
    margin: auto;
}
#fundo{
    text-align: center;
    margin-top: 12%;
    position: relative; 
    //bottom: 0;
}
/*END FOOTERSIMPLE*/

/* START COMMENT PAGE */

#commentbody{
    background-color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top:2.5%;
    padding-left:3%;
    padding-right: 3%;
    padding-bottom: 2.5%;
    height: 250px;
        
}
#commentzone {
    //background-color: blue;
    max-width: 35%;
} 

#showcomment {
    //background-color: blue;
    height:250px;
    width: 50%;
    /* margin-left:40%;
    margin-top:-10%; */
    position:relative;
    float: right;
    overflow: scroll;  
}

#namecomm {
    margin-bottom: 0.5em;
    width: 16em;
}
label.comm {
margin-right: 1em;
text-align: right;
width: 7em;
}

textarea.comm2 {
    resize: none;
}

/* END COMMENT PAGE */

/* START GERIR PROMOÇOES */

#maximus_promo{
    //background-color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top:2.5%;
    padding-left:3%;
    padding-right: 3%;
    padding-bottom: 2.5%;
    height: 300px;
      
}
#Body_Promo {
    font: 14px Arial, sans-serif;
    color: #404040;
    background-image: url("black1_css.jpg");
}
#CaixaPromo {
    text-align: center;
    width:425px;
    height:85%;
    //position:relative;
    //margin-left: 35%;
    color: #333300;
    font-weight: bold;
    background-color: #99FF80;
}

#registapromo {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 300px;
}
#Registopromo{
    text-align: center; 
    font-size: 25px;
}
#aparadio{
    //overflow: scroll;
}
#CaixaGardencorporation{
    text-align: center;
    width:200px;
    height:80px;
    top:50%;
    left:50%;
    margin-top:1%;
    //margin-left:34%;

    color: #333300;
}
#img_gardenlogo{
    margin-top:1%;
    margin-left:50%;
}


input[id=promoprice] {
    padding: 0 10%;
    width: 75%;
    height: 40px;
    color: #333300;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1);
    border: 0;
}

input[id=promoprice]:focus{
    color: white;
}

label[id=promoprice] {
    float: left;
    width: 20%;
    line-height: 40px;
    padding-right: 10px;
    font-weight: 100;
    text-align: center;
}

#button-registarpromo{
    text-align: center;
    alignment-adjust: central;
    border-radius: 28px;
    font-family: Arial;
    color: #669966;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    background: #333300;
    background-image: -webkit-linear-gradient(top, #333300,#669966);
    background-image: -moz-linear-gradient(top, #333300,#669966);
    background-image: -ms-linear-gradient(top, #333300,#669966);
    background-image: -o-linear-gradient(top, #333300,#669966);
    position:absolute;
    margin-left: -3%;
}


#button-registarpromo:hover, #button-entrar:hover {
    background: #333300;
    text-decoration: none;
}
#button-registar{
    float: right;
    width:90px;
    line-height: 40px;
    padding-right: 10px;
    font-weight: 100;
    text-align: center;
}

#BordaRegistoPromo{
    width: 400px;
    margin-top:25px;
}

    /* START Apaga promoçao */

    #CaixaPromoapaga {
    text-align: center;
    width:425px;
    height:50%;
    position:relative;
    //margin-left: 35%;
    color: #333300;
    font-weight: bold;
    background-color: #99FF80;
    float:right;
    
    }
    
    /* END Apaga promoçao */

/*END GERIR PROMOÇOES */



/* START MAIN PAGE */
#conversor{
    padding-left: 2%;
    padding-bottom: 2%;
}
#mainbodymp{
    background-color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}
#mainbodymp > ul {
    display: inline-block;
}

#novosprodutosbar{
    height:50px;
    color: white;
    //background-color: #696969;
    max-height: 35px;
    font-family: Tahoma, "calibri", "verdana";
    //line-height: 0.5em;
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 37%, #474747 42%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 37%,#474747 42%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 37%,#474747 42%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}



page-title h3 {
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    text-transform: uppercase;
}


body {
    background-image: url("black1_css.jpg");
}
/*
div.wrapper {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    position: absolute;
}

div.imagemprod a:hover img {
    //border:1px solid #0000ff;
    background-color: black;
}
*/
#infoprod {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
    //color: black;
} 

ul.produtos {

}

a.infoproduto {
    color:black;
    background-color: blue;
}

#perfilfunc {
    margin-left: 1%;
    padding-bottom: 1%;
    line-height: 50%;
}

/* END MAIN PAGE */

#qprod{
    width: 30px;
}



/* START CHEQUE OFERTA  */

#montantecheque{
    padding-left:2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#confirmacheque{
    float:right;
    padding-right: 1%;
    margin-top: 2%;
    margin-right:5%;
    height: 150px;
    width: 35%;
    border: 1px solid black;
}
#infocheque{
    float:bottom;
}
#confirmachequediv{
    width:auto;
    height:30px;
    position:relative;
    float:bottom;
}
#geracheque{
    float:bottom;
    //margin-top:30%;
}

/* END CHEQUE OFERTA */